# Database Connection
DATABASE_URL=""

# Gunakan ini di prisma.config.ts jika ingin menggunakan database dari supabase
DIRECT_URL=""

# Security & Authentication
JWT_SECRET=""
JWT_REFRESH_SECRET=""

# CORS & Application Environment
CORS_ORIGIN=""
PORT=3000
ENVIRONMENT=production